<div class="row">
  <div class="col-xs-12 col-md-5 input-group">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Add a new board"
      [(ngModel)]="newBoardName"
      (keyup.enter)="addBoard()">
      <div class="input-group-append">
        <button class="btn btn-outline-success" (click)="addBoard()" [disabled]="!newBoardName">Add</button>
      </div>
  </div>
</div>
<div class="row my-4">
  <ng-container *ngFor="let board of (boardsState | async).boards; let i = index">
    <div class="col-md-3 m-1 board" (click)="gotoBoard(i)">
      <div class="card">
        <div class="card-body text-center">
          {{ board.name }}
        </div>
      </div>
    </div>
  </ng-container>
</div>